.main {
    background: linear-gradient(170deg, rgb(164, 209, 219) 50%, rgb(255, 255, 255) 50%);
    width: calc(100% - 20px); 
    height: 100%;
    margin: 0; 
    padding: 10px;
}

.hpbody {
    background-image: url("../../pages/HomePage/images/gg.png");
    background-repeat:no-repeat;
    background-position: center 45%;   
    background-size: 180px;
    height: 94%;
}


@media screen and (max-width: 420px) {
    .hpbody {
        padding-top: 10%;
    }
    .hpbody{
        background: none !important;
    }
  }
