.sidenav {
    width: 20%;
    padding-left: 15px;
}

#sidenav-wrapper {
  position: sticky;
  top: 1px;
}

.sidenav-cat {
    color: rgb(24, 24, 24);;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

li {
  list-style-type: none;  
  padding: 3px;
  text-decoration-color: rgb(164, 209, 219);
}

li:hover {
  cursor: pointer;
}


@media screen and (max-width: 420px) {
  .sidenav-cat {
    font-size: 14px;
  }
  .filterValue {
    font-size: 12px;
  }
}