.navbar {
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.nav-btn {
    background-color: rgb(255, 141, 141) !important;
    color: white; 
    font-weight: bold;  
    border-radius: 25px !important; 
    font-size: 14px !important; 
    font-family: 'Heebo', sans-serif;
    margin-left: auto;
}

.nav-logo {
    width: 40px;
}

/* #nav-header {
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    margin-right: auto !important; 
    margin-left: 1%; 
} */