.home-main {
    width: 100%; 
    text-align: center;
}

.h1{
    font-size: 50px; 
    font-family: 'Lato', sans-serif;
    font-weight: bold; 
    color: rgb(37, 37, 65);
}

.h2 {
    font-size: 30px; 
    font-family: 'Lato', sans-serif;
    color: rgb(37, 37, 65);
    padding: 10px 0px 10px 0px; 
}

.h3 {
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 141, 141); 
}

.lastLine {
    margin-top: -1%;
}

@media screen and (max-width: 1200px) {
    .h1 {
        font-size: 40px;
    }
    .h2 {
        font-size: 25px;
    }
    .h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .nav-logo-main {
        width: 100;
    }
    .h1 {
        font-size: 30px;
    }
    .h2 {
        font-size: 20px;
    }
    .h3 {
        font-size: 13px;
    }
}

@media screen and (max-width: 420px) {
    .h1 {
        font-size: 30px;
    }
    .h2 {
        font-size: 20px;
    }
    .h3 {
        font-size: 13px;
    }
    .nav-logo-main {
        width: 100px;
    }
  }
